force-app/flows/Bid_Rooms_Update_Existing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_Email_0_0</name>
        <label>Test Email</label>
        <locationX>1327</locationX>
        <locationY>606</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jessie.rymph@soprasteria.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bid updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;a href=&quot;{!frm_linkToRecord}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;A bid was updated. Make sure that it worked well.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!frm_whatisChanged}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Cannot filter on account blocked in initial criteria so putting it in here.</description>
        <name>Is_Account_Blocked</name>
        <label>Is Account Blocked</label>
        <locationX>1366</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>UpdateBid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blocked</defaultConnectorLabel>
        <rules>
            <name>Account_is_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account is Blocked</label>
        </rules>
    </decisions>
    <description>Update existing bid room. This flow is triggered by changes on the opportunity object. The earlier version ran any time an opportunity changed, this uses criteria. 
This version removes the update to DPS, assuming they only need the update when the bid room is first created.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(INCLUDES( {!$Record.Business_Unit__c} ,&apos;DPS&apos;) , {!$Record.Is_Created_in_bid_portal__c} = TRUE, OR(ISCHANGED({!$Record.Is_Created_in_bid_portal__c} ) , ISNEW()))</expression>
    </formulas>
    <formulas>
        <name>frm_linkToRecord</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL} &amp; &apos;lightning/r/Opportunity/&apos; &amp; {!$Record.Id} &amp; &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>frm_URLForopportunity</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL} &amp; &apos;lightning/r/Opportunity/&apos; &amp; {!$Record.Id} &amp; &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <description>What is changed for debugging purposes
&amp;&amp; ISCHANGED({!$Record.Account.Name}), ISCHANGED({!$Record.Proposal_Due_Date_Time__c}),ISCHANGED({!$Record.Business_Unit__c}), ISCHANGED({!$Record.StageName}), ISCHANGED({!$Record.Type}), ISCHANGED({!$Record.BC_Owner__c}), ISCHANGED({!$Record.DPS_Owner__c}), ISCHANGED({!$Record.OwnerId}), 
ISCHANGED({!$Record.Account.OwnerId}), ISCHANGED({!$Record.Reset_Bid_Room__c}), ISCHANGED({!$Record.Status__c})))) IF(ISCHANGED({!$Record.Name}),{!$Record.Name},&apos;&apos;)</description>
        <name>frm_whatisChanged</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.Is_Created_in_bid_portal__c})=TRUE, &apos;record is created in bid portal. &apos;,&apos;&apos;) &amp;
IF(ISCHANGED({!$Record.Proposal_Due_Date_Time__c})= TRUE, &apos;proposal due date changed. &apos;, &apos;&apos;) &amp;
IF(ISCHANGED({!$Record.Business_Unit__c})=TRUE, &apos;business unit changed. &apos;,&apos;&apos;) &amp;
IF(ISCHANGED({!$Record.StageName}) =TRUE,&apos;Stage name changed. &apos;,&apos;&apos;) &amp; IF(ISCHANGED({!$Record.Type}) =TRUE,&apos;type is changed. &apos;,&apos;&apos;) &amp; IF(ISCHANGED({!$Record.BC_Owner__c}) =TRUE, &apos;bc owner changed. &apos;,&apos;&apos;) &amp;IF(ISCHANGED({!$Record.DPS_Owner__c})=TRUE,&apos;dps owner changed. &apos;,&apos;&apos;) &amp; IF(ISCHANGED({!$Record.OwnerId})=TRUE,&apos;record owner changed. &apos;,&apos;&apos;) &amp; IF(ISCHANGED({!$Record.Reset_Bid_Room__c}) =TRUE, &apos;reset bidroom changed. &apos;,&apos;&apos;) &amp; IF(ISCHANGED({!$Record.Status__c}) =TRUE, &apos;status changed. &apos;,&apos;&apos;) &amp; IF(ISCHANGED({!$Record.Name}) =TRUE, &apos;record name changed. &apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Add url suffix specific for country</description>
        <name>frmBidUrlCountrySpecific</name>
        <dataType>String</dataType>
        <expression>&quot;/SitePages/Home.aspx&quot;</expression>
    </formulas>
    <formulas>
        <description>Bid URL Status</description>
        <name>frmBidURLStatus</name>
        <dataType>String</dataType>
        <expression>{!$User.Username} &amp; &quot; , created on&quot; &amp; TEXT({!$System.OriginDateTime})</expression>
    </formulas>
    <formulas>
        <name>frmRecordStageName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.StageName})</expression>
    </formulas>
    <interviewLabel>Bid Rooms Update Existing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid Rooms NO Update Existing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>963</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Account_Blocked</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 14 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13)</filterLogic>
        <filters>
            <field>Owner_Country__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Created_in_bid_portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Proposal_Due_Date_Time__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apps_Owner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BC_Owner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DPS_Owner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reset_Bid_Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>UpdateBid</name>
        <label>Update Bid</label>
        <locationX>1162</locationX>
        <locationY>606</locationY>
        <flowName>Update_Bid</flowName>
        <inputAssignments>
            <name>BidID</name>
            <value>
                <elementReference>$Record.Bid_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StageName</name>
            <value>
                <elementReference>frmRecordStageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
