force-app/flows/Bid_Room_Create_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_DPS_Mailbox</name>
        <label>Alert DPS Mailbox</label>
        <locationX>1056</locationX>
        <locationY>1211</locationY>
        <actionName>Opportunity.Alert_Opportunity_assigned_to_DPS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Opportunity_assigned_to_DPS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>test_Email</name>
        <label>test Email</label>
        <locationX>1114</locationX>
        <locationY>857</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jessie.rymph@soprasteria.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A Bid Room was Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;a href=&quot;{!frm_linkToOpportunity}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; A bid room was created! Make sure it works!&lt;/a&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DPS</name>
        <label>DPS</label>
        <locationX>1201</locationX>
        <locationY>1145</locationY>
        <defaultConnectorLabel>FALSE_DPS</defaultConnectorLabel>
        <rules>
            <name>TRUE_DPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_DPS_Mailbox</targetReference>
            </connector>
            <label>TRUE_DPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclude_blocked_accounts</name>
        <label>Exclude blocked accounts</label>
        <locationX>1423</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>CreateNewBid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blocked</defaultConnectorLabel>
        <rules>
            <name>Account_is_blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account is blocked</label>
        </rules>
    </decisions>
    <description>Splitting manage bids NO flow into two. One for create a new bid room, and one for change existing bid room. Added error handling. Excludes blocked accounts.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(INCLUDES( {!$Record.Business_Unit__c} ,&apos;DPS&apos;) , {!$Record.Is_Created_in_bid_portal__c} = TRUE, OR(ISCHANGED({!$Record.Is_Created_in_bid_portal__c} ) , ISNEW()))</expression>
    </formulas>
    <formulas>
        <name>frm_linkToOpportunity</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL} &amp; &apos;lightning/r/Opportunity/&apos; &amp; {!$Record.Id} &amp; &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <description>Add url suffix specific for country</description>
        <name>frmBidUrlCountrySpecific</name>
        <dataType>String</dataType>
        <expression>&quot;/SitePages/Home.aspx&quot;</expression>
    </formulas>
    <formulas>
        <description>Bid URL Status</description>
        <name>frmBidURLStatus</name>
        <dataType>String</dataType>
        <expression>{!$User.Username} &amp; &quot; , created on&quot; &amp; TEXT({!$System.OriginDateTime})</expression>
    </formulas>
    <formulas>
        <name>frmRecordStageName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.StageName})</expression>
    </formulas>
    <interviewLabel>Bid Room Create New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid Room Create New NO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>IsCreated_SetURLCountry</name>
        <label>Is created + Bid Url Country</label>
        <locationX>1254</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>DPS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_handling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BID_URL_Country__c</field>
            <value>
                <elementReference>frmBidUrlCountrySpecific</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BID_URL_Status__c</field>
            <value>
                <elementReference>frmBidURLStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Created_in_bid_portal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>963</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Exclude_blocked_accounts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 or 3 or 4 or 5) AND 6</filterLogic>
        <filters>
            <field>Owner_Country__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 - Possibility</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 - RFI</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 - Prequal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 - Offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Created_in_bid_portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateNewBid</name>
        <label>Create new bid</label>
        <locationX>1357</locationX>
        <locationY>397</locationY>
        <connector>
            <targetReference>IsCreated_SetURLCountry</targetReference>
        </connector>
        <flowName>Create_BID</flowName>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_handling</name>
        <label>Error handling</label>
        <locationX>996</locationX>
        <locationY>575</locationY>
        <flowName>ERROR_HANDLING</flowName>
        <inputAssignments>
            <name>moreErrorInfo</name>
            <value>
                <stringValue>Bid Room Create New NO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
