force-app/flows/Reset_Many_Bid_Rooms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_alert</name>
        <label>email alert</label>
        <locationX>1024</locationX>
        <locationY>940</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Wait_for_time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>OppLoop.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>bid room created for opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <stringValue>jessie.rymph@soprasteria.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_opps_to_collection</name>
        <label>Assign opps to collection</label>
        <locationX>842</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>idCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_available_rooms</name>
        <label>Number of available rooms</label>
        <locationX>172</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfAvailableROoms</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Available_Bid_Rooms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_more_available_bid_rooms</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_more_available_bid_rooms</name>
        <label>Are there more available bid rooms</label>
        <locationX>406</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfAvailableROoms</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_above_2</name>
        <label>Stage above 2</label>
        <locationX>830</locationX>
        <locationY>906</locationY>
        <defaultConnector>
            <targetReference>Wait_for_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decStage_above_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OppLoop.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppLoop.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Prequal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_alert</targetReference>
            </connector>
            <label>stage 3 or above</label>
        </rules>
    </decisions>
    <description>Later version</description>
    <environments>Default</environments>
    <formulas>
        <name>recordURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.BaseURL} &amp; &apos;lightning/r/Opportunity/&apos; &amp; {!OppLoop.Id} &amp; &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Reset Many Bid Rooms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset Many Bid Rooms</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>580</locationX>
        <locationY>538</locationY>
        <collectionReference>Get_Bad_Bid_Rooms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_opps_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OppLoop</name>
        <label>OppLoop</label>
        <locationX>397</locationX>
        <locationY>667</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateLoopRecord</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Available_Bid_Rooms</name>
        <label>Get Available Bid Rooms</label>
        <locationX>301</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_available_rooms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bid_URL__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bad_Bid_Rooms</name>
        <label>Get Bad Bid Rooms</label>
        <locationX>787</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <dateTimeValue>2025-05-21T22:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2025-05-14T11:28:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bid_URL__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>172</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2025-05-13T22:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0 - Planning</stringValue>
            </value>
        </filters>
        <filters>
            <field>BID_room__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Owner_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Norway</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Abandoned by Us</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Abandoned by Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLoopRecord</name>
        <label>UpdateLoopRecord</label>
        <locationX>621</locationX>
        <locationY>790</locationY>
        <connector>
            <targetReference>Stage_above_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppLoop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reset_Bid_Room__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>547</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!recordURL} &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;You now have a bid room for your opportunity, {!OppLoop.Name}. &lt;/a&gt;The bid room process was not working properly earlier this week. Sorry for the inconvenience.&lt;/p&gt;&lt;p&gt;-- The Salesforce team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>idCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppCollectionToGet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varNumberOfAvailableROoms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <waits>
        <name>Wait_for_time</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for time</label>
        <locationX>1016</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>OppLoop</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
